body {
    background-color: blue;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: hotpink;
    border-radius: 5px;
}

 ul {
    display: flex;
    list-style: none;
    gap: 1em
}

