body {
    background-color: rgb(255, 255, 255);
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: hotpink;
    border-radius: 5px;
}

 ul {
    display: flex;
    list-style: none;
    gap: 1em
}

.dark-mode {
    background-color: black;
    color: white;
}

img{
    display: none;
}

.show-image{
    display: block;
}

